

.header {
  color: red;
  text-align: center;
  margin: 20px;
  font-family: font-family: 'Rubik', sans-serif;
  font-size: 65px;
  font-weight: bold;
}

#tableRows{
  font-family: 'Indie Flower', cursive;
  font-size: 22px;
  font-weight: bold;
  text-shadow: 1px 1px #0069d9;
}

thead{
  font-family: 'Indie Flower', cursive;
  font-size: 22px;
  font-weight: bold;
  text-shadow: 1px 1px #0069d9; 
}

.myButton {

}

/* .filters {
  margin-top: 20px;
  margin-bottom: 20px;
} */

.dropdown {
  margin-right: 5px
}

.selectorContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.emblem {
  width: 80px;
  height: auto
} 
.bullet-button {
  height: 35px
}

.newBullet {
  height: 35px
}

#categoryDropDown {
  width: 158px
}
