

.filters {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  #bootstrap-overrides{
    background-color: rgb(7, 59, 16);
    font-family: 'Josefin Sans', sans-serif;
  }
 

.selector {
	background-color: rgb(182, 188, 190);
	padding: 0.25em;
    border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	max-width: 320px;
	text-align: center;
}

.selector-inner {
	display: inline-block;
	text-align: center;
	width: 40%;
	padding: 1.75em;
	border-radius: 5px;
	color: white;
}
  
 .formWrapper{
    max-width: 320px;
    background-color: rgb(182, 188, 190);
    margin-left: auto;
	margin-right: auto;
    padding: 20px;
    border-radius: 5px;
 }

 .formGroup{
    margin-bottom: 10px;
    margin-top:5px;
    margin-left: 40px;
 }

 .formGroup label, 
 .formGroup input {
     display: block;
 }

 .butt{
     font-family: inherit;
     margin: auto;
     margin-top: 15px;
     margin-left: 60px;
     padding:5px 10px 5px 10px;
     border-radius: 7px;
 }